* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

body {
    overflow-x: hidden;
}

header {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;

    nav {
        display: flex;
        gap: 30px;

        a {
            color: #000;
        }
    }

    div {
        position: absolute;
        right: 100px;

        a {
            font-weight: bold;
            color: #000;
        }
    }
}

main {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
}

.header-footer {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-top: -100px;

    nav {
        display: flex;
        gap: 30px;

        a {
            color: #000;
        }
    }

    div {
        position: absolute;
        right: 100px;

        a {
            font-weight: bold;
            color: #000;
        }
    }
}

footer {
    margin-top: 800px;
}